p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

body {
    font-family: 'Roboto';
    color: #212121;
}
:root {
--main-title-color:#212121;
--secondary-color:#757575; 
--btn-link-color: #2196F3;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid blueviolet;

}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/*--------------Heder--------------*/
.header {
    padding-top: 24px;
    padding-bottom: 25px;

}

/*--------------Лого--------------*/

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}

.header-logo-blue {
    color: var(--btn-link-color);
}
/*--------------Навигация--------------*/

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}
.header-link:hover,
.header-link:focus {
    color: #2196F3;
}

.header-tel,
.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}
.header-tel:hover,
.header-tel:focus {
    color: var(--btn-link-color);
}

.header-mail:hover,
.header-mail:focus {
    color: var(--btn-link-color);
}
/*--------------Hero--------------*/
.hero {
    background-color: #2F303A;;
}

.hero-content {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}
.hero-title {
    margin: auto;
    margin-bottom: 30px;
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: var(--btn-link-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);  
    cursor: pointer;
}

.hero-btn:hover, 
.hero-btn:focus {
    background-color: #188CE8;
}

/*--------------Преимущества-------------*/ 
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
      }


    
.benefits-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
    }
.benefits-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    }

/*--------------Чем мы занимаемся-------------*/
.work {
    background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
    mix-blend-mode: normal;
   
}
.work-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}
/*--------------Наша команда-------------*/
.team {
    background: #F5F4FA;
    
}

.team-img {
    margin-bottom: 30px;
}

.team-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}

.team-second-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}
.team-text {
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}
/*--------------Footer-------------*/
.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;

}

.footer-address {
    font-style: normal;

}

.footer-logo {
    margin-bottom: 20px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer-logo-blue {
    color: var(--btn-link-color);
}

.footer-map {
    margin-top: 20px;
    margin-bottom: 9px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-list {
    margin-top: 9px;
    margin-bottom: 9px;
}

.footer-item {
    margin-bottom: 9px;
}

.footer-mail,.footer-tel {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-map:hover,
.footer-map:focus {
    color: var(--btn-link-color);

}
.footer-tel:hover,
.footer-tel:focus {
    color: var(--btn-link-color);
}

.footer-mail:hover,
.footer-mail:focus {
    color: var(--btn-link-color);
}

/*page2*/
/*-------------Portfolio btn-------------*/
.portfolio  {
    
}

.portfolio-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color:var(--main-title-color);
    background: #F5F4FA;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
  /*-------------Portfolio open-------------*/  

}
.portfolio-btn:hover,
.portfolio-btn:focus {
    color:#FFFFFF;
    background: #2196F3;
}
.portfolio-list-open {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}


.potfolio-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--main-title-color);
}
.portfolio-text {
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}


